@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

$s : 10px;

*{
    font-size: 1.1em;
}

.all_site{
    padding: 1rem;
    #cdn{

        code{
            font-family: 'Fira Code', monospace;
            display: inline-block;
            border: 0.25rem solid #0077ff;
            background: black;
            color: #ffd2d2;
        }
    }

    a{
        display: inline-block;
        text-decoration: none;
        background: #53a3ff;
        color: white;
        padding: $s;
        margin: $s;
        border-radius: 10px;
    }
}