@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

$s: 10px;

* {
  font-size: 1.1em;
}

.all_site {
  padding: 1rem;
  #cdn {
    code {
      font-family: "Fira Code", monospace;
      display: inline-block;
      border: 0.25rem solid #0077ff;
      background: #272335;
      color: hsl(0deg 0% 100% / 87%);
      text-shadow: 2px 2px 10px hsl(41deg 89% 75% / 86%);
    }
  }
  a {
    display: inline-block;
    text-decoration: none;
    background: #70b3ff;
    color: white;
    padding: $s;
    margin: $s;
    border-radius: 10px;
  }
}
